/__pycache__
/Shared/__pycache__
/FileSystem/print_tree.presets.json
/FileSystem/print_tree.im_mode.log
/LifeStyle/Beeper/__pycache__
/Cheatsheets/emojis_all.im_mode.log
/LifeStyle/Beeper/BeeperScript.im_mode.log
